.DS_Store
*.class
/clase 3/Sesion3/nbproject/private/
/clase 3/Sesion3/build/
/clase 4/Sesion4/nbproject/private/
/clase 4/Sesion4/build/
/clase 4/Sesison5/nbproject/private/
/clase 4/Sesison5/build/
/clase 5/Sesion5/nbproject/private/
/clase 5/Sesion5/build/
/clase 5/Sesion6/nbproject/private/
/clase 5/Sesion6/build/
/clase 5/NotXApp/nbproject/private/
/clase 5/NotXApp/build/
/clase 5/PasswordGenerator/nbproject/private/
/clase 5/PasswordGenerator/build/
/clase 5/ConveterTemperature/nbproject/private/
/clase 5/ConveterTemperature/build/
/clase 5/FilesPDF/nbproject/private/
/clase 5/FilesPDF/build/
/clase 5/GeneratorRandom/nbproject/private/
/clase 5/GeneratorRandom/build/
/clase6/PasswordGenerator/nbproject/private/
/clase6/PasswordGenerator/build/
/clase6/TemperatureConverter/nbproject/private/
/clase6/TemperatureConverter/build/
/UI/StoreApp/nbproject/private/
/UI/StoreApp/build/
/NewFolder/LeyOhm/nbproject/private/
/NewFolder/LeyOhm/build/
/NewFolder/RandomApp/nbproject/private/
/NewFolder/RandomApp/build/
/NewFolder/NoteApp/nbproject/private/
/NewFolder/NoteApp/build/